In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('fred_quarterly.csv')

In [3]:
df.head()

        date    month quarter     Target        gnp  gdpdef        gdp
0   1/1/2000  2000-01  2000Q1  12935.252  10035.263  77.325  10002.179
1   4/1/2000  2000-04  2000Q2  13170.749  10283.391  77.807  10247.720
2   7/1/2000  2000-07  2000Q3  13183.890  10348.645  78.263  10318.165
3  10/1/2000  2000-10  2000Q4  13262.250  10490.430  78.688  10435.744
4   1/1/2001  2001-01  2001Q1  13219.251  10510.297  79.204  10470.231

In [4]:
df.shape

(86, 7)

In [11]:
from pycaret.regression import *
clf1 = setup(data = df,target = 'Target')

In [12]:
lr = create_model('lr')

In [13]:
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True

In [14]:
rf = create_model('rf', fold = 5)

In [15]:
svm = create_model('svm', cross_validation = False)

         MAE           MSE       RMSE      R2   RMSLE    MAPE
0  1377.5554  2.955244e+06  1719.0824 -0.0414  0.1073  0.0855

In [17]:
lgbms = [create_model('lightgbm', learning_rate = i) for i in np.arange(0.1,1,0.1)]

In [19]:
dt = create_model('dt')

In [20]:
tuned_dt = tune_model(dt)

In [21]:
tuned_dt = tune_model(dt, n_iter = 50)

In [22]:
tuned_dt = tune_model(dt, optimize = 'MAE')

In [27]:
plot_model(tuned_dt, plot = 'parameter')

                          Parameters
ccp_alpha                        0.0
criterion                        mae
max_depth                          7
max_features                     1.0
max_leaf_nodes                  None
min_impurity_decrease          0.005
min_impurity_split              None
min_samples_leaf                   5
min_samples_split                  9
min_weight_fraction_leaf         0.0
presort                   deprecated
random_state                     812
splitter                        best

In [28]:
bagged_dt = ensemble_model(dt)

In [29]:
bagged_dt

BaggingRegressor(base_estimator=DecisionTreeRegressor(ccp_alpha=0.0,
                                                      criterion='mse',
                                                      max_depth=None,
                                                      max_features=None,
                                                      max_leaf_nodes=None,
                                                      min_impurity_decrease=0.0,
                                                      min_impurity_split=None,
                                                      min_samples_leaf=1,
                                                      min_samples_split=2,
                                                      min_weight_fraction_leaf=0.0,
                                                      presort='deprecated',
                                                      random_state=812,
                                                      splitter='best'),
                 bootstrap=True, bootstrap_features=False, max_features=1.0,
                 max_samples=1.0, n_estimators=10, n_jobs=None, oob_score=False,
                 random_state=812, verbose=0, warm_start=False)

In [30]:
boosted_dt = ensemble_model(dt, method = 'Boosting')

In [31]:
bagged_dt2 = ensemble_model(dt, n_estimators=50)

In [35]:
huber = create_model('huber', verbose = False)
dt = create_model('dt', verbose = False)
lightgbm = create_model('lightgbm', verbose = False)
ridge = create_model('ridge', verbose = False)

In [36]:
blend_specific = blend_models(estimator_list = [huber,dt,lightgbm,ridge])

In [37]:
stack_1 = stack_models([huber,dt,lightgbm,ridge])

In [38]:
stack_1 = stack_models([huber,dt,lightgbm], meta_model = ridge)

In [39]:
stack_2 = stack_models([huber,dt,lightgbm,ridge], restack = False)

In [40]:
predict_model(stack_1)

,gnp,gdpdef,gdp,date_month_4,date_weekday_1,date_is_month_end_0,date_is_month_start_1,month_month_1,month_month_10,month_weekday_3,month_weekday_5,month_is_month_end_0,month_is_month_start_1,quarter_month_7,quarter_weekday_0,quarter_weekday_6,quarter_is_month_end_0,quarter_is_month_start_1,Target,Label
0,18565.144531,104.978996,18332.078125,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,17462.578125,17392.952668
1,20930.650391,110.597000,20659.101562,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,18679.599609,18657.614172
2,14551.583008,95.017998,14430.901367,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,15187.474609,15370.739545
3,10918.383789,80.782997,10887.459961,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,13477.356445,13610.940103
4,18520.402344,104.988998,18306.960938,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,17437.080078,17304.147779
5,17691.164062,103.525002,17462.703125,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,16868.109375,16898.020483
6,14875.943359,93.327003,14715.057617,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,15767.146484,15549.105189
7,19649.441406,112.859001,19477.443359,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,17258.205078,18005.692499
8,17381.812500,102.942001,17144.281250,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,16654.246094,16613.659832
9,13906.646484,90.627998,13870.188477,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,15304.516602,15236.165357
10,21728.222656,114.439003,21477.597656,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,18767.777344,19124.790096
11,15522.781250,96.846001,15309.470703,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,15807.995117,15765.172345
12,19243.921875,106.487000,18968.041016,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,17812.560547,17725.285597
13,11217.689453,82.044998,11174.128906,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,13619.433594,13691.704139
14,15574.331055,97.346001,15351.444336,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,15769.911133,15810.942512
15,14704.022461,95.065002,14608.208008,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,15366.607422,15443.035953
16,10748.408203,80.245003,10660.464844,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,13284.880859,13418.070787
17,10647.426758,79.682999,10599.000000,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,13301.393555,13454.379153
18,18827.941406,105.636002,18611.617188,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,17618.580078,17507.868723
19,15187.024414,95.991997,14980.193359,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,15605.627930,15683.884564
20,16548.814453,100.230003,16319.540039,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,16282.151367,16286.037922
21,18995.777344,105.929001,18775.458984,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,17724.488281,17541.292733
22,15339.710938,96.281998,15141.605469,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,15726.282227,15713.419508
23,11369.130859,82.328003,11312.765625,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,13741.107422,13811.144243
24,22273.060547,115.652000,22038.226562,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,19055.654297,19410.638243
25,14083.697266,90.967003,14039.559570,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,15433.642578,15309.026491

In [41]:
final_stack_1 = finalize_model(stack_1)

In [44]:
unseen_predictions = predict_model(final_stack_1, data=df, round=0)
unseen_predictions.head(6)

,date,month,quarter,Target,gnp,gdpdef,gdp,Label
0,1/1/2000,2000-01,2000Q1,12935.252,10035.263,77.325,10002.179,13180.813641
1,4/1/2000,2000-04,2000Q2,13170.749,10283.391,77.807,10247.720,13324.991171
2,7/1/2000,2000-07,2000Q3,13183.890,10348.645,78.263,10318.165,13372.589674
3,10/1/2000,2000-10,2000Q4,13262.250,10490.430,78.688,10435.744,13441.323044
4,1/1/2001,2001-01,2001Q1,13219.251,10510.297,79.204,10470.231,13374.038206
5,4/1/2001,2001-04,2001Q2,13301.394,10647.427,79.683,10599.000,13495.170767